.header-wrap {
    width: 100%;
    background-color: #23180d;
    margin-top: 0;
}

.header {
    width: 1140px;
    height: 89px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    gap: 10px;
}

.nav button {
    padding: 5px 12px;
    border: none;
    background: none;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    font-family: Open Sans;
}

.btn-1 {
    background: #c52d2f;
}

.nav button:hover {
    background: #c52d2f;
    border-radius: 3px;
}

input {
    width: 120px;
    padding: 5px 2px;
    font-family: Open Sans;
}